/* footer CSS */
.footer_container {
    background-color: #282c34;
    /* padding: 0.2rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 125px;
        width: 95px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.footer_logo {
    color: #fff;
    display: grid;
    align-items: left;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_linkItems {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_linkItems h2 {
    margin-bottom: 16px;
    color: #fff;

}

.footer_linkItems a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s ease;
}

.footer_linkItems a:hover {
    color: #8f3f3f;
    transition: 0.3s ease-out;
}

/* social media icons */
.social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    display: flex;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website_rights {
    color: #fff;
}

