
.services {
    background: #0D1117;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}



.services_container {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/* /* .services h1 {
    background-color: #a4d1ee;
    background-image: linear-gradient(to right, #caced1, #8e8fee, #f55746, rgba(107, 107, 209, 0.933), #ffb199);
    background-size: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} */

/* .services h2 {
    position: absolute;
    top: 340px;
    left: 30px;
} */

/* .services_card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4pc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%),
        url('/Mapp_Supreme_Site/images/pic2.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
} */



/* .services_card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%),
        url('/Mapp_Supreme_Site/images/pic3.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services_card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%),
        url('/Mapp_Supreme_Site/images/pic4.png');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services_card:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%),
        url('/Mapp_Supreme_Site/images/pic7.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services_card:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%),
        url('/Mapp_Supreme_Site/images/pic8.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
} */



/* .services_card p {
    position: absolute;
    top: 390px;
    left: 30px;
}

.services_btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
} */

/* .services_card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #0096fa;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services_card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
} */

/* @media screen and (max-width: 1300px) {
    .services_container {
        grid-template-columns: 1fr 1fr;
    }

    .services_card {
        margin: 2rem;
        margin-top: 60px;
        justify-content: center;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 20rem;
        margin-bottom: 0;
    }

    .services_btn {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
} */




/* ******************************************************   MOBILE RESPONSE *************************************************************************** */